body {
    font-family: sans-serif;
}
main {
    width: 550px;
    margin: 0 auto;
    padding: 1em;
    text-align: center; 
}
#play_pause {
    float: left;
    width: 200px;
    margin: 0 auto;
    /* display: block; */
}
#set_speed { 
    float: right;
    width: 200px;
    margin: 0 auto;
    /* display:block; */
}